PORT=5000
MONGODB_URI=mongodb://localhost:27017/etc_time_calculator
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=12h

# ZKTeco Machine IPs
ZK_IN_IP=192.168.0.208
ZK_OUT_IP=192.168.0.209
ZK_PORT=4370
ZK_TIMEOUT=10000

# Cron schedule (every 15 minutes)
CRON_SCHEDULE=*/15 * * * *
